<!DOCTYPE html>
<html>

<head>
  <title>YOLO-Object Detection</title>
  <link rel="stylesheet" type="text/css" href="../static/index.css" />
  <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../static/index.js"></script>
</head>

<body>
  <div class="App">
    <header id='header' class="App-header">
      <p> YOLO - Detect and count people </p>
      <div id="link">
        <a href="" id="download" download>Download</a>
      </div>
      <form>
        <input id="imageinput" type="file" name="image" onchange="readUrl(this)" />
      </form>
      <button name="send" id="sendbutton">Send</button>
    </header>
  </div>
</body>

</html>